@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

@theme {
    --font-sans: "Roboto Condensed", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    --breakpoint-xl: 1320px;

    --h1-large: 72;
    --h2-large: 42;
    --h3-large: 28;
    --h4-large: 26;
    --h5-large: 22;
    --h6-large: 20;
    --p-large: 20;

    --h1-small: calc(var(--h1-large) * 0.7111);
    --h2-small: calc(var(--h2-large) * 0.7142);
    --h3-small: calc(var(--h3-large) * 0.72);
    --h4-small: calc(var(--h4-large) * 0.875);
    --h5-small: calc(var(--h5-large) * 0.9375);
    --h6-small: calc(var(--h6-large) * 0.8125);
    --p-small: calc(var(--p-large) * 0.875);

    /* Defining custom properties for font sizes and screen sizes */
    --min-vw: 640;
    --max-vw: 1280;

    --fluid-20-25: clamp(1.25rem, 0.8078rem + 1.1792vw, 1.5625rem);
    --fluid-25-50: clamp(1.5625rem, -0.6486rem + 5.8962vw, 3.125rem);
    --fluid-35-75: clamp(2.1875rem, -1.3502rem + 9.434vw, 4.6875rem);
    --fluid-50-100: clamp(3.125rem, -1.2972rem + 11.7925vw, 6.25rem);
    --fluid-60-125: clamp(3.75rem, -1.9988rem + 15.3302vw, 7.8125rem);
    --fluid-75-150: clamp(4.6875rem, -1.9458rem + 17.6887vw, 9.375rem);
    --fluid-90-175: clamp(5.625rem, -1.8927rem + 20.0472vw, 10.9375rem);
    --fluid-100-200: clamp(6.25rem, -2.5943rem + 23.5849vw, 12.5rem);
    /* @link https://utopia.fyi/clamp/calculator?a=600,1024,100—180 */
    --fluid-100-180: clamp(6.25rem, -0.8255rem + 18.8679vw, 11.25rem);
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold mb-7 pt-3 break-normal leading-none;
    }
    h1 {
        --min-font: var(--h1-small);
        --max-font: var(--h1-large);

        font-size: clamp(
            calc(var(--min-font) * 1px),
            calc(
            (var(--min-font) * 1px) +
            (var(--max-font) - var(--min-font)) *
            (
                (100vw - (var(--min-vw) * 1px)) /
                (var(--max-vw) - var(--min-vw))
            )
            ),
            calc(var(--max-font) * 1px)
        );
    }
    h2 {
        --min-font: var(--h2-small);
        --max-font: var(--h2-large);

        font-size: clamp(
            calc(var(--min-font) * 1px),
            calc(
            (var(--min-font) * 1px) +
            (var(--max-font) - var(--min-font)) *
            (
                (100vw - (var(--min-vw) * 1px)) /
                (var(--max-vw) - var(--min-vw))
            )
            ),
            calc(var(--max-font) * 1px)
        );
    }
    h3 {
        --min-font: var(--h3-small);
        --max-font: var(--h3-large);

        font-size: clamp(
            calc(var(--min-font) * 1px),
            calc(
            (var(--min-font) * 1px) +
            (var(--max-font) - var(--min-font)) *
            (
                (100vw - (var(--min-vw) * 1px)) /
                (var(--max-vw) - var(--min-vw))
            )
            ),
            calc(var(--max-font) * 1px)
        );
    }
    h4 {
        --min-font: var(--h4-small);
        --max-font: var(--h4-large);

        font-size: clamp(
            calc(var(--min-font) * 1px),
            calc(
            (var(--min-font) * 1px) +
            (var(--max-font) - var(--min-font)) *
            (
                (100vw - (var(--min-vw) * 1px)) /
                (var(--max-vw) - var(--min-vw))
            )
            ),
            calc(var(--max-font) * 1px)
        );
    }
    h5 {
        --min-font: var(--h5-small);
        --max-font: var(--h5-large);

        font-size: clamp(
            calc(var(--min-font) * 1px),
            calc(
            (var(--min-font) * 1px) +
            (var(--max-font) - var(--min-font)) *
            (
                (100vw - (var(--min-vw) * 1px)) /
                (var(--max-vw) - var(--min-vw))
            )
            ),
            calc(var(--max-font) * 1px)
        );
    }
    h6 {
        --min-font: var(--h6-small);
        --max-font: var(--h6-large);

        font-size: clamp(
            calc(var(--min-font) * 1px),
            calc(
            (var(--min-font) * 1px) +
            (var(--max-font) - var(--min-font)) *
            (
                (100vw - (var(--min-vw) * 1px)) /
                (var(--max-vw) - var(--min-vw))
            )
            ),
            calc(var(--max-font) * 1px)
        );
    }
    p {
        --min-font: var(--p-small);
        --max-font: var(--p-large);

        font-size: clamp(
            calc(var(--min-font) * 1px),
            calc(
            (var(--min-font) * 1px) +
            (var(--max-font) - var(--min-font)) *
            (
                (100vw - (var(--min-vw) * 1px)) /
                (var(--max-vw) - var(--min-vw))
            )
            ),
            calc(var(--max-font) * 1px)
        );
    }
}

@layer utilities {
    .primary-button {
        @apply
        rounded-md
        bg-sky-600
        px-3.5
        py-2.5
        text-sm
        font-semibold
        text-white
        shadow-xs
        hover:bg-sky-500
        focus-visible:outline-2
        focus-visible:outline-offset-2
        focus-visible:outline-sky-600
    }
}

@utility container {
    @apply mx-auto max-w-screen-xl px-5;
}
[x-cloak] { display: none !important; }